data/
output/
.RData
.Rproj.user
.cache
.cache/*
/.cache
.idea
./idea
.idea/*
.DS_Store
.Rhistory
example_workbook.xlsx
.example_workbook.xlsx
# R build and check artifacts
.Rcheck/
*.Rcheck/
*.tar.gz
.Rhistory
.RData
.DS_Store

shiny-app/runtime/
shiny-app/output/
